<div class="row board-header">
  <div class="col-md-9">
    <h1 ng-hide="editingBoard" ng-click="editingBoard = true">{{ currentBoard.title }}</h1>
    <form name="boardForm" ng-show="editingBoard" ng-submit="editBoard()">
      <input class="board-input" type="text" ng-model="updateBoard.title" name="boardTitle" required>
      <input type="submit" class="btn btn-primary btn-sm" ng-disabled="boardForm.$invalid">
      <a class="btn btn-secondary btn-sm" href="" ng-click="cancelEdit()">Cancel</a>
    </form>
  </div>

  <div class="col-md-3">
    <form>
      <select
        ng-model="currentBoard"
        ng-options="board.title for board in allBoards track by board.id"
        class="form-control">
      </select>
      <a href="" ng-click="deleteBoard()">Delete Board</a>
      <a class="pull-md-right" ui-sref="boards.index">Create Board</a>
    </form>
  </div>

</div>

<div class="row row-horizon">

  <board-list class="card" ng-repeat="list in currentBoardLists" list="list"></board-list>

  <div class="col-md-3" ng-hide="addingList || editingBoard">
    <a class="btn btn-primary" href="" ng-click="addingList = true">Add A list</a>
  </div>

  <div class="card" ng-show="addingList" ng-submit="createList()">
    <form name="listForm">
      <div class="form-group card-header">
        <input class="form-control" type="text" placeholder="title..." ng-model="newList.title" name="listTitle" required>
      </div>
      <div class="card-block">
        <div class="form-group">
          <textarea class="form-control" placeholder="description..." ng-model="newList.description" name="listDescription" required></textarea>
        </div>
        <input ng-disabled="listForm.$invalid" class="btn btn-primary" type="submit" value="Create">
        <a href="" class="btn btn-secondary pull-md-right" ng-click="addingList = false">Cancel</a>
      </div>
    </form>
  </div>

</div>
