<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 ng-hide="editingCard.title" class="modal-title text-md-center">{{ card.title }}</h4>
        <div ng-show="editingCard.title" class="modal-form">
          <form name="editingCardtitle">
            <input type="text" class="form-control" name="cardTitle" ng-model="updatedCard.title" required>
          </form>
        </div>
        <a class="pull-md-right" ng-click="editCard('title')" href="">{{  editingCard.title ? "Cancel" : "Edit Title" }}</a>
        <a href="" ng-show="editingCard.title" ng-click="updateCard()">Save</a>
        <h6 class="modal-list-display">In List: <strong>{{ findList(card.list_id).title }}</strong></h6>
      </div>
      <div class="modal-body">
        <h6>Description: </h6>
        <p ng-hide="editingCard.description">{{ card.description }}</p>
        <form name="editingCardDescription" ng-show="editingCard.description">
          <textarea class="form-control" name="cardDescription" ng-model="updatedCard.description" required></textarea>
        </form>
        <button class="btn btn-primary btn-sm" ng-show="editingCard.description" ng-click="updateCard()">Save</button>
        <a class="btn btn-secondary btn-sm" ng-click="editCard('description')" href="">{{  editingCard.description ? "Cancel" : "Edit Description" }}</a>
      </div>
      <div class="modal-body">
        <h6>Members: </h6>
        <card-member ng-repeat="member in members" member="member" card="card"></card-member>
        <form name="editingCardMembers" ng-show="users.length && editingCard.members">
          <select class="form-control" name="cardMembers" ng-model="updatedCard.members" required>
            <option ng-repeat="user in users" ng-value="user.id">{{ user.username }}</option>
          </select>
        </form>
        <button ng-disabled="editingCardMembers.$invalid" class="btn btn-primary btn-sm" ng-show="users.length && editingCard.members" ng-click="addMember()">Save</button>
        <a class="btn btn-secondary btn-sm" ng-click="editCard('members')" href="">{{  editingCard.members ? "Cancel" : "Edit Members" }}</a>
      </div>
      <div class="modal-body">
        <h6>Activities: </h6>
        <p ng-repeat="activity in activities"><strong>{{activity.user.username}}</strong> {{ activity.description }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="deleteCard()" class="btn btn-default pull-md-left" data-dismiss="modal">Delete</button>
        <button type="button" ng-click="markCompleted()" class="btn btn-primary pull-md-right" data-dismiss="modal">Complete</button>
      </div>
    </div>
  </div>
</div>
